@model List<SewaPatra.Models.Area>

@{
    ViewData["Title"] = "Area List";
}

@if (TempData["Message"] != null)
{
    <div id="toastMessage" class="custom-toast">
        <i class="bi bi-check-circle-fill me-2"></i>@TempData["Message"]
    </div>
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="pagetitle mt-2">
                        <h1>Area List</h1>
                        <nav>
                            <ol class="breadcrumb">
                                @* <li class="breadcrumb-item"><a href="index.html">Home</a></li> *@
                                <li class="breadcrumb-item">Master</li>
                                <li class="breadcrumb-item active">Area List</li>
                            </ol>
                        </nav>
                    </div>
                    <div style="display:flex;justify-content:flex-end;">
                        <a asp-controller="Master" asp-action="Area" style="margin-right: 13.6%;font-size: 12px; padding: 2px 8px;" class="btn btn-warning btn-sm">Add New</a>
                    </div>
                    <div class="table-responsive table-striped">
                        <table id="DataTable" class="table align-middle display nowrap datatable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Area Name</th>
                                    <th>Area Type</th>
                                    <th>Under</th>
                                    @if (Context.Session.GetString("userRole") != "3") // Other than Coordinator
                                    {
                                        <th>Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    int sno = 1;
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@sno</td>
                                            <td>@item.Area_name</td>
                                            <td>@item.Area_type</td>
                                            <td>@item.Under</td>
                                            <td>
                                                @if (Context.Session.GetString("userRole") != "3") // Other than Coordinator
                                                {
                                                    <a asp-controller="Master" asp-action="EditArea" asp-route-id="@item.Id" style="background-color: #F1592A;color: #ffffff; font-size: 9px; padding: 2px 8px;" class="btn btn-sm">Edit</a>
                                                } 
                                                @if (Context.Session.GetString("userRole") == "1") // Only Admin
                                                 {
                                                    <a asp-controller="Master" asp-action="DeleteArea" asp-route-id="@item.Id" style="background-color: #F1592A;color: #ffffff; font-size: 9px; padding: 2px 8px;" class="btn btn-sm">Delete</a>
                                                 }
                                            </td>
                                        </tr>
                                        sno++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>